%h2 About

%h3 Inhalt

%ul
  %li #{link_to "Was", "#was"}
  %li #{link_to "Decisionmaking at Heart of Code", "#decisionmaking"}
  %li #{link_to "Vorstand", "#vorstand"}

%h3#was Was

%p
Die Heart of Code richtet sich an alle PyLadies, und RailsGirls, JavaLassies und 3D-Feen, Gamerinnen, Arduinas, NetzwerkNixen, LötGören, RaspberryRabaukinnen und alle anderen Frauensternchen mit Interesse an Bits, Bytes und Basteln. Sie ist ein Ort zum gemeinsamen Frickeln, kreativ werden und Abnerden - für mehr Vernetzung, mehr Gemeinschaft, und vor allem natürlich: mehr Hacken.

Wir wollen Frauensternchen (damit meinen wir alle Menschen, die sich, zumindest hauptsächlich, als Frauen identifizieren) den Zugang zu Informationstechnologien, Tools und Inhalten erleichtern, und damit die Hacking-Community und Tech-Landschaft langfristig diverser gestalten.

Die Heart of Code soll eine Ergänzung der bereits vielfältigen und bunten Hackspace-Landschaft und Initiativen in Berlin sein. Es gibt keinen Masterplan, keine Präsidentin und keine politische Ideologie. Die Heart of Code ist nur eine Idee, von vielen Möglichen. Wir springen in eine große Lücke, die wir allein gar nicht ausfüllen können. Wir freuen uns auf Kooperationen, Partnerschaften, Zusammenarbeit und fröhliches Miteinander.

Die Heart of Code ist unser Beitrag zu einer bunten Zukunft, in der alle friedlich gemeinsam digital abhonken.

%h3#decisionmaking Decisionmaking at Heart of Code

%p
  We have a members-only mailing list and internal chat system where we propose and discuss things, and we have members meetings about once a month. This usually results in decisions without a formal process being necessary. Groups of 2+ members interested in a topic form committees, which generally have pre-approved budgets, to run events or be in charge of some aspect of the space's operation.

%p
  Our committees so far include bicycles, electronics, jobs, open source software, zine making, printmaking and textiles, public speaking, 3D printing/CNC machining. We also have several committees related to running Heart of Code together, such as developing our web application, networking/IT for the space, designing its physical space and constructing modifications, finance/administration, membership coordination, and maintaining the book library.

%p
  If something is hard to decide, controversial, or otherwise needs a final decision, our small board makes the decision. We don't want to get stuck in endless discussions; having a board avoids that problem. The board also does the legal and financial decision making involved in being a non-profit.

%h3#vorstand Vorstand

.leader
  =image_tag "golden.jpg"
  %h4 Alexsarah "Golden" Collier, Board Member, Executive Director

  %p Golden is a Learning Specialist at an SF elementary school by day. He is also a teaching member of Girl Army, an Oakland-based collective providing strengths-based sliding scale self defense courses for women, gender non-conforming/non-binary, and trans folks. Also, Golden is a member of Sula Collective, maker @ #{ link_to "kidsizzle.etsy.com", "https://www.etsy.com/shop/kidsizzle" }, apprentice-level beekeeper, motorcyclist, digital media activist with Womanist Trilliance and Combahee Radio, former world record holder, and metalsmith who enjoys dreamy hikes, practicing mindfulness, playing the viola/banjo, singing, the ocean, and libraries.

.leader
  =image_tag "tina_coles.jpg"
  %h4 Tina Coles, Board Member, Secretary, Director of Multiculturalism and Inclusion

  %p Tina has over three decades of software development experience in Defense/Telecom/Internet. She is currently working as a technical project manager at Chatbots.io. Some of her passions are community service, life-long learning, mentoring girls/women in STEM, hiking and yarn — somehow magically all to be found with Heart of Code!

.leader
  =image_tag "dani_arias.jpg"
  %h4 Daniela (Dani) Arias, Board Member, Treasurer

  %p Dani is a Certified Public Accountant by day and loves playing with spreadsheets and mentoring women in business. She spends her free time biking, hiking, working on sewing projects, and enjoying the sounds of high hats, beeps, boops, and clickety-doops.

.leader
  =image_tag "dash_brittain.jpg"
  %h4 Dash Brittain, Board Member

  %p Dash is a software engineer for work, and an activist and health nerd for life. She loves reading, cooking, growing vegetables, and a variety of arts & crafts. In her free time, she organizes the SF Feminist Book Club and an anarchist study group. She joined Heart of Code’s board after volunteering as a Membership Coordinator and leading our latest fundraising campaign.

.leader
  =image_tag "mathilde_mouw.jpg"
  %h4 Mathilde Mouw, Board Member

  %p Mathilde is a software engineer and creative technologist. She spends her waking hours, outside of her day job, looking for ways to do art and tech at the same time, such as writing code that makes music. She enjoys dancing ballet and mentoring new programmers who are entering the tech industry.
